@import "tailwindcss";

@theme {
  --text-2.5xl: 1.625rem;

  --font-body: "Jost", system-ui, sans-serif;
  --font-heading: "Righteous", system-ui, sans-serif;

  --color-bg-light: #fff6e6;
  --color-bg-dark: #180424;
  --color-bg: var(--color-bg-light);

  --color-primary-light: #4d0099;
  --color-primary-dark: #bf80ff;
  --color-primary: var(--color-primary-light);

  --color-secondary-light: #1a0033;
  --color-secondary-dark: #ebd6ff;
  --color-secondary: var(--color-secondary-light);

  --color-primary-contrast-light: var(--color-secondary-dark);
  --color-primary-contrast-dark: var(--color-secondary-light);
  --color-primary-contrast: var(--color-primary-contrast-light);

  --color-glass-light: rgba(255, 255, 255, 0.3);
  --color-glass-dark: rgba(255, 255, 255, 0.05);
  --color-glass: var(--color-glass-light);

  --color-glass-opaque-light: rgba(255, 255, 255, 0.5);
  --color-glass-opaque-dark: rgba(255, 255, 255, 0.1);
  --color-glass-opaque: var(--color-glass-opaque-light);

  --color-glass-border-light: rgba(255, 255, 255, 0.7);
  --color-glass-border-dark: rgba(255, 255, 255, 0.2);
  --color-glass-border: var(--color-glass-border-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--color-bg-dark);
    --color-primary: var(--color-primary-dark);
    --color-secondary: var(--color-secondary-dark);
    --color-primary-contrast: var(--color-primary-contrast-dark);
    --color-glass: var(--color-glass-dark);
    --color-glass-opaque: var(--color-glass-opaque-dark);
    --color-glass-border: var(--color-glass-border-dark);
  }
}

.light {
  --color-bg: var(--color-bg-light);
  --color-primary: var(--color-primary-light);
  --color-secondary: var(--color-secondary-light);
  --color-primary-contrast: var(--color-primary-contrast-light);
  --color-glass: var(--color-glass-light);
  --color-glass-opaque: var(--color-glass-opaque-light);
  --color-glass-border: var(--color-glass-border-light);
}

.dark {
  --color-bg: var(--color-bg-dark);
  --color-primary: var(--color-primary-dark);
  --color-secondary: var(--color-secondary-dark);
  --color-primary-contrast: var(--color-primary-contrast-dark);
  --color-glass: var(--color-glass-dark);
  --color-glass-opaque: var(--color-glass-opaque-dark);
  --color-glass-border: var(--color-glass-border-dark);
}

body {
  @apply bg-bg text-secondary font-body overflow-x-hidden transition-colors duration-200;
  scrollbar-width: thin;
}

.tech-stack a {
  @apply text-secondary hover:text-primary font-medium transition-colors duration-200;
}

.heading-1 {
  @apply font-heading text-primary whitespace-pre-line text-[clamp(36px,7vw,96px)] leading-[1.1];
}

.heading-2 {
  @apply font-heading text-primary whitespace-pre-line text-3xl leading-[1.1] md:text-5xl;
}

.heading-3 {
  @apply text-primary font-heading text-2xl leading-[1.1] md:text-4xl;
}
